# basics
cookiecutter
make
python-dotenv>=0.5.1


# backend
fastapi==0.110.0
email-validator
passlib[bcrypt]
python-decouple==3.8
{% if cookiecutter.database == 'mongodb' %}
motor
{% elif cookiecutter.database == 'supabase' %}
supabase>=2.3.0
{% endif %}
{% if cookiecutter.use_redis == 'yes' %}
redis
fastapi-cache2[redis]
{% endif %}
pyarrow
uvicorn 
python-multipart
bcrypt==3.2.0

apscheduler==3.11.0
slowapi==0.1.9
cryptography==46.0.3

loguru
uv

pretty-errors

pyjwt